.fighter-preview___root {
  display: flex;
  height: 420px;
  border-width: 16px;
  border-style: solid;
  border-color: #ca9650;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___root table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 0;
}

.fighter-preview___root td {
  border: 0 solid #ca9650;
  text-align: left;
}

.fighter-preview___root th {
  text-align: center;
  font-size: 120%;
  background-color: #ca9650;
  border: 0;
  border-color: #ca9650;
}

.fighter-preview___root tr:nth-child(even) {
  background-color: #ca9650;
}

.fighter-preview___root tr:nth-child(odd) {
  background-color: #ffdfa7;
}

.fighter-preview___right {
  align-items: flex-start;
  background-color: #ffdfa7;
}

.fighter-preview___left {
  align-items: flex-start;
  background-color: #ffdfa7;
}

.fighter-preview___img {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 73%;
}
